<div class="row register-wrapp d-flex justify-content-center align-items-center">
  <div class="w-50 mx-auto">
    <div class="register-card">
      <div class="card-body p-5">
        <h5 class="fs-2 text-center pb-3">Log in</h5>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>