// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nested-comment {
  border-radius: 1em;
  background: #fff;
  padding: 1em 0 0.5em 1em;
  margin-bottom: 1em;
  &:not(:first-child) {
    margin-left: 3em;
    box-shadow: -13px -12px 10px 3px rgba(234, 234, 234, 1);
  }
  &:first-child {
    padding-right: 1em;
  }
}